:root {
    --r-background-color: #002b36;
    --r-main-color: #93a1a1;
    --r-heading-color: #eee8d5;
}

.v-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 540px; */
    height: 520px;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* background-color: red; */
}

pre code {
    width: 110%;
    border-radius: 7px;
}

pre code.text {
    font-size: 90%;
    line-height: 1;
}

del {
    text-decoration-thickness: 3px;
}

ul li {
    margin-bottom: 10px;
}

.reveal .fragment.fade-in-then-out-replace {
  opacity: 0;
  visibility: hidden;
  display: inline;
}

.reveal .fragment.fade-in-replace {
  opacity: 0;
  visibility: hidden;
  display: inline;
}

span.figure-number,
span.figure-number + a {
    font-size: 80%;
}

img {
    transform: translateY(40px);
}
