:root {
    --r-background-color: #002b36;
    --r-main-color: #93a1a1;
    --r-heading-color: #eee8d5;
    --r-inline-code-color: #937476;
    --r-block-code-color: #eee;
}

.v-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 540px; */
    height: 520px;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* background-color: red; */
}

.reveal code:not(.hljs) {
    color: var(--r-inline-code-color);
}

.reveal h1 code,
.reveal h2 code,
.reveal h3 code,
.reveal h4 code {
    font-weight: bold;
}

.reveal .hljs {
    background: #1a1a1a;
    /* color: var(--r-block-code-color); */
    width: 110%;
    border-radius: 7px;
}

.reveal .hljs.text {
    font-size: 90%;
    line-height: 1;
}

.reveal .hljs.has-highlights tr:not(.highlight-line) {
    opacity: .5;
}

.reveal p.heading {
    font-size: 150%;
    line-height: 2;
}

del {
    text-decoration-thickness: 3px;
}

.reveal ul li {
    margin-bottom: 10px;
}

.reveal .fragment.fade-in-then-out-replace {
  opacity: 0;
  visibility: hidden;
  display: inline;
}

.reveal .fragment.fade-in-replace {
  opacity: 0;
  visibility: hidden;
  display: inline;
}

span.figure-number,
span.figure-number + a {
    font-size: 80%;
}

img {
    transform: translateY(40px);
}
